<html>
	<head><title>SHOUTERRRSHOUTERRR</title></head>
	<body>

		<% if session['user_name'] == nil %>
		<p><strong>Sign up</strong></p>
			<form method="post" action="/signup">
		    Name: <input type="text" name="name">
		    Handle: <input type="text" name="handle">
		    Password: <input type="text" name="password">
		    <input type="submit" value="Let me in!" name="submit"></input>
			</form><br><br>
		<% else %>
			Hey <%=session['user_name']%> you looking flyyy
			<form method="get" action="/logout">
   			<input type="submit" value="Log out">
			</form>
		<%end%>


		<h1>SHOUT IT HURRR</h1>

		<form method="post" action="/shout">
	    <p>Words:</p>
	    <textarea cols="60" rows="3" name="words"></textarea><br><br>
	    Password: <input type="text" name="password">
	    <input type="submit" value="SHOUT IT!" name="submit"></input>
		</form><br>
		<h2>SHOUTS YEA</h2>
			<% @shouts.each do |shout| %>
			<strong><%=shout.message%></strong>
			<ul>
				<li><%=shout.created_at%>
			</ul>
			<%end%>

	</body>
</html>